= semantic_form_for @comment, :url => video_comments_url(@comment.video) do |form|
  = form.inputs do
    = form.input :comment, :label => "Hier ist Platz für deine Meinung"
  = form.buttons do
    = form.commit_button :button_html => { :value => "Absenden", :class => "primary", :disable_with => 'wird gespeichert…' }


:javascript
  $(document).ready(function() {
    comment_form = $("#new_comment");
    comment_form.submit(function(event) {
      event.preventDefault();
      comment_form.unbind("submit");
      $.post(comment_form[0].action, comment_form.serialize(), function(data) {
        $("textarea", comment_form)[0].value = "";
        $("#commentslist").append(data);
        $("#comment_submit").removeAttr('disabled').attr('value', 'Absenden');
        comment_form.dialog("close");
      }, "script").error(function(request) {
        comment_form.remove();
        $("#commentslist").append(request.responseText);
        $("#new_comment").dialog({ title: 'Kommentar hinzufügen', dialogClass: 'modal', width: 500, height: 340 });
      });
    });
  });