#form
  = semantic_form_for Comment.new, :url => video_comments_url(video) do |form|
    = form.inputs do
      = form.input :comment, :label => "Dein Kommentar"
    = form.buttons do
      = form.commit_button :button_html => { :value => "Absenden", :class => "primary", :disable_with => 'wird gespeichert…' }

:javascript
  $(document).ready(function() {
    form = $("#new_comment");
    form.submit(function(event) {
      event.preventDefault();
      $.post(form[0].action, form.serialize(), function(data) {
        $("textarea", form)[0].value = "";
        $("#comments div.comment:last").after(data);
        $("#comment_submit").removeAttr('disabled').attr('value', 'Absenden');
      }, "script");
    });
  });