= semantic_form_for Participant.new, :url => video_participants_url(video) do |form|
  = form.inputs do
    = form.input :name, :label => "Teilnehmer"
    = form.input :role , :as => :check_boxes, :collection => ["Post-Produktion", "Licht", "Kamera", "Schauspieler"], :label => "Tätigkeiten"
  = form.buttons do
    = form.commit_button :button_html => { :value => "Absenden", :class => "primary", :disable_with => 'wird gespeichert…' }


:javascript
  $(document).ready(function() {
    participant_form = $("#new_participant");
    participant_form.submit(function(event) {
      event.preventDefault();
      $.post(participant_form[0].action, participant_form.serialize(), function(data) {
        participant_form[0].reset();
        $("#participantslist").append(data);
        $("#participant_submit").removeAttr('disabled').attr('value', 'Absenden');
      }, "script");
    });
  });