#login
  #resetpassword
    %h2
      Kennwort vergessen?

    = render :partial => "devise/shared/links"

    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
      = devise_error_messages!
      %p
        = f.label :email
        %br/
        = f.email_field :email
      %p= f.submit "Neues Kennwort zusenden"
