#users
  #edit
    #{link_to "Konto löschen", registration_path(resource_name), :confirm => "Willst du dein Konto wirklich löschen? Das lässt sich nicht rückgängig machen!", :method => :delete, :id => 'delete', :class => 'button'}

    %h1
      Profil bearbeiten

    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true, :autocomplete => "off" }) do |f|
      = devise_error_messages!

      %fieldset
        %legend
          persönliche Daten
        %p
          Hier ist Platz für deine persönlichen Daten. Vergiss nicht, dass andere deine Eingaben auf der Video-Seite und in deinem Profil sehen können.
        .field
          = f.label :email, "E-Mail-Adresse"
          = f.email_field :email
        .field
          = f.label :username, "Benutzername"
          = f.text_field :username
        .field
          = f.label :firstname, "Vorname"
          = f.text_field :firstname
        .field
          = f.label :name, "Nachname"
          = f.text_field :name

      %fieldset
        %legend
          Profilfoto
        %p
          Hier kannst du ein Profilfoto hochladen, das in deinem Profil und auf der Video-Seite angezeigt wird.
        .field
          = f.label :avatar, "Profilbild"
          = f.file_field :avatar

      %fieldset
        %legend
          Kennwort
        %p
          Hier kannst du dein Kennwort ändern. Aus Sicherheitsgründen musst du dein neues Kennwort zwei Mal eingeben.
        .field
          = f.label :password, "Neues Kennwort"
          = f.password_field :password
        .field
          = f.label :password_confirmation, "Wiederholen"
          = f.password_field :password_confirmation

      %fieldset
        %legend
          Aktuelles Kennwort
        %p
          Bitte gib hier dein aktuelles Kennwort ein, um die Änderungen zu bestätigen.
        .field
          = f.label :current_password, "Aktuelles Kennwort"
          = f.password_field :current_password

      .field
        = f.submit "Änderungen speichern"
