= semantic_form_for @video, :html => { :enctype => "multipart/form-data" } do |form|
  = form.inputs do
    = form.input :title, :label => "Filmtitel"
    = form.input :description, :label => "Beschreibung"
    = form.input :video, :as => :file, :label => "Datei"
    = form.input :tag_list, :label => "Tags des Videos"
  = form.buttons do
    = form.commit_button :button_html => { :value => "Hochladen", :class => "primary", :disable_with => 'Magic happens…' }