= semantic_form_for @video, :html => { :enctype => "multipart/form-data" } do |form|
  = form.inputs do
    = form.input :title
    = form.input :description
    = form.input :video, :as => :file
    = form.input :tag_list
  = form.buttons