#video
  #show
    %h1
      =@video.title


    #videoContainer
      =render "video_"+@video.state
      #favorites
        =render :partial => "favorites", :locals => {:video => @video}
      #ratings
        =#render :partial => "ratings", :locals => {:video => @video}
<<<<<<< HEAD
      =render "video_"+@video.state
=======
>>>>>>> 62b331cd88dce2e1b525f4d5e8318f37a115acc7


    #resolutions
      %ul
        %li
          =link_to_unless (@resolution[:name] == "360"), "360p", video_url(@video, :res => "360")
        %li
          =link_to_unless (@resolution[:name] == "480"), "480p", video_url(@video, :res => "480")
        %li
          =link_to_unless (@resolution[:name] == "720"), "720p", video_url(@video, :res => "720")
      .clearfix

    #tags
      =render :partial => "tags"


    #participants
      %h2
        Mitarbeiter
      %ul#participantslist
        =render :partial => "participants/participant", :collection => @video.participants
      .clearfix
      -if current_user.is_admin? || current_user.owns_video?(@video)
        %a#toggleParticipantsForm(style="clear: left;")
          Teilnehmer hinzufügen
        =render :partial => "participants/form", :locals => {:video => @video}


    #comments
      %h2
        Kommentare
      %ul#commentslist
        =render :partial => "comments/comment", :collection => @video.comments
      .clearfix
      %a#toggleCommentsForm(style="clear: left;")
        Kommentar hinzufügen
      =render :partial => "comments/form"
    
    .clearfix
    
    -if current_user.is_admin? || current_user.owns_video?(@video)
      #edit
        %a#toggleEditForm(style="clear: left;")
          Video bearbeiten

        = semantic_form_for @video do |form|
          = form.inputs do
            = form.input :title, :label => "Filmtitel"
            = form.input :description, :label => "Beschreibung"
            = form.input :thumb_index, :as => :select, :collection => %w(0 1 2 3), :label => "Thumbnail Nr.", :include_blank => false

          %ol.thumbs
            %li
              0)
              =image_tag @video.video.url(createThumbSymbol("thumb128", 0))
            %li
              1)
              =image_tag @video.video.url(createThumbSymbol("thumb128", 1))
            %li
              2)
              =image_tag @video.video.url(createThumbSymbol("thumb128", 2))
            %li
              3)
              =image_tag @video.video.url(createThumbSymbol("thumb128", 3))

          = form.buttons do
            = form.commit_button :button_html => { :value => "Speichern", :class => "primary", :disable_with => 'speichert…' }

:javascript
  $(document).ready(function() {
    $("#toggleParticipantsForm").click(function(event) {
      $("#new_participant").dialog({ title: 'Filmmitarbeier hinzufügen', dialogClass: 'modal', width: 600, height: 350 });
    });
    $("#toggleCommentsForm").click(function(event) {
      $("#new_comment").fancybox({ });
    });
    $("#toggleEditForm").click(function(event) {
      $("form.video").dialog({ title: 'Video bearbeiten', dialogClass: 'modal', width: 700, height: 550 });
    });
  });