= semantic_form_for @report, :url => video_reports_url(:video_id => @video.id) do |form|
  = form.inputs do
    = form.input :comment, :label => "Warum möchtest du dies melden?"
  = form.buttons do
    = form.commit_button :button_html => { :value => "Absenden", :class => "primary", :disable_with => 'wird gemeldet…' }


:javascript
  $(document).ready(function() {
    $("#new_report").submit(function(event) {
      event.preventDefault();
      $(this).unbind("submit");
      $.post(this.action, $(this).serialize(), function(data) {
        $("#new_report textarea")[0].value = "";
        $("#new_report #report_submit").removeAttr('disabled').attr('value', 'Absenden');
        $("#new_report").dialog("close");
      }, "json").error(function(request) {
        $("#new_report").remove();
        $("#new_report").dialog({ title: 'Kommentar hinzufügen', dialogClass: 'modal', width: 600, height: 350 });
      });
    });
  });