!!! 5
%html
  %head
    %title
      Wedeltube
    = stylesheet_link_tag "http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css"
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = javascript_include_tag "jquery-ui-1.8.13.custom.min.js"
    = javascript_include_tag "tag-it.js"
    = javascript_include_tag "flash.js"
    = csrf_meta_tag
  %body
    #navigation
      = render :partial => "shared/navigation"
    #wrapper
      #header
        #logo 
          = link_to image_tag("logo-240.png"), root_path

      #content
        = display_flash_messages
        = yield

      #footer
        2011 Wedeltube